
<div class="logo">
  <a routerLinkActive="active" [routerLink]="['/dashboard']" class="simple-text logo-normal">
		<img src="./assets/img/railwaylogo.png" height="34px">
  </a>
  <div class="navbar-minimize pull-right">
      <button id="minimizeSidebar" class="btn btn-icon btn-round" (click)="minimizeSidebar()">
        <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
        <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
      </button>
    </div>
</div>

<div class="sidebar-wrapper">

  <div class="user">
    <div class="photo">
      <img src="./assets/img/tim1.svg" />
    </div>
    <div class="info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span>
          Tim
          <b class="caret"></b>
        </span>
      </a>
      <div class="clearfix"></div>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li>
            <a [routerLink]="['/pages/profile']">
              <span class="sidebar-mini-icon">MP</span>
              <span class="sidebar-normal">My Profile</span>
            </a>
          </li>
          <li>
            <a (click)="logOut()">
              <span class="sidebar-mini-icon">L</span>
              <span class="sidebar-normal">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
                <!--If is a single link-->
                <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
                    <i class="{{menuitem.icontype}}"></i>
                    <p>{{menuitem.title}}</p>
                </a>
                <!--If it have a submenu-->
                <a data-toggle="collapse" href="#{{menuitem.collapse}}" *ngIf="menuitem.type === 'sub'">
                    <i class="{{menuitem.icontype}}"></i>
                    <p>{{menuitem.title}}<b class="caret"></b></p>
                </a>

                <!--Display the submenu items-->
                <div id="{{menuitem.collapse}}" class="collapse" *ngIf="menuitem.type === 'sub'">
                    <ul class="nav">
                        <li routerLinkActive="active" *ngFor="let childitem of menuitem.children">
                            <a [routerLink]="[menuitem.path, childitem.path]">
                                <span class="sidebar-mini-icon">{{childitem.ab}}</span>
                                <span class="sidebar-normal">{{childitem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

</div>
